# Production dependencies for Python 3.13
boto3==1.40.40
botocore==1.40.40
certifi==2025.8.3
charset-normalizer==3.4.3
discord-webhook @ git+https://github.com/htristan/python-discord-webhook@cc15aa9c6e0094649416397f96950db93dca8b31
idna==3.10
jmespath==1.0.1
numpy==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
s3transfer==0.14.0
shapely==2.1.2
six==1.17.0
urllib3==2.5.0